*{
    margin: 0;
    scroll-behavior: smooth;
}

body{
  cursor: url("./images/cursor.png"), auto;
}

/* Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type="number"] {
  -moz-appearance: textfield;
} */ 

/* Remove default styling from input elements */
input {
  appearance: none;          /* Standard syntax */
  -webkit-appearance: none;  /* Webkit browsers */
  -moz-appearance: none;     /* Firefox */
}


.greenColor {
  color: green !important;
}
.redColor {
  color: red !important;
}